body {
  width: 100%;
}

h1 {
  text-align: center;
  margin-top: 60px;
}

#interface {
  margin: 0 auto;
  width: 60%;
}

#answer {
  display: block;
  margin: 60px auto 0;
  min-height: 300px;
  min-width: 60%;
}

#message {
  border-radius: 5px;
  margin: 5px auto;
  max-width: 60%;
  color: #EADFDF;
}

#message ul {
  list-style-type: none;
  line-height: 1.5em;
  padding: 5px 0;
}

#message li {
  text-align: center;
}

.error {
  background-color: #D51515;
}

.success {
  background-color: green;
}
